<div class="d-flex justify-content-center">
	<ul class="pagination">
		<li class="page-item" [ngClass]="{'disabled' : block === 0}">
			<a class="page-link" (click)="onPreviousBlockClick()">
				<span>&laquo;</span>
			</a>
		</li>
		<li class="page-item" [ngClass]="{'disabled' : currentPage === 0}">
			<a class="page-link" (click)="onPreviousClick()" aria-label="Previous">
				<span>&lsaquo;</span>
			</a>
		</li>
		<li class="page-item" *ngFor="let page of pages | numberToArray" [ngClass]="{'active' : (page - 1) === currentPage}">
			<a class="page-link" (click)="onPaginatorClick(page)">{{page}}</a>
		</li>
		<li class="page-item" [ngClass]="{'disabled' : currentPage === totalPages - 1}">
			<a class="page-link" (click)="onNextClick()" aria-label="Next">
				<span>&rsaquo;</span>
			</a>
		</li>
		<li class="page-item" [ngClass]="{'disabled' : disableNextBlock()}">
			<a class="page-link" (click)="onNextBlockClick()">
				<span>&raquo;</span>
			</a>
		</li>
	</ul>	
</div>