// Palette color codes */
// Palette URL: http://paletton.com/#uid=13s0u0k++wepK++xg++++d6++4X */


// As hex codes */

$allports: #006DA2;	// Main Primary color */
$dodger-blue-1: #3CBFFF;
$dodger-blue-2: #0CB0FF;
$prussian-blue: #002C42;
$swamp: #001119;
$ecstasy: #f78d10;
$shuttle-gray: #556367;


// As RGBa codes */

$rgba-allports: rgba(  0,109,162,1);	// Main Primary color */
$rgba-dodger-blue-1: rgba( 60,191,255,1);
$rgba-dodger-blue-2: rgba( 12,176,255,1);
$rgba-prussian-blue: rgba(  0, 44, 66,1);
$rgba-swamp: rgba(  0, 17, 25,1);


// Z-INDEX //
$spinner-overlay-index: 100;
$spinner-wrap-index: 101;
$spinner-index: 102;